Source: php-json-signer
Section: php
Priority: extra
Maintainer: François Kooman <fkooman@tuxed.net>
Build-Depends:
 debhelper (>= 9),
 phpab,
 php-libsodium,
 phpunit,
 pkg-php-tools (>= 1.7~),
 dh-exec,
 php-constant-time
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-json-signer

Package: php-json-signer
Architecture: all
Depends: 
 ${misc:Depends}, 
 php-libsodium,
 php-cli,
 php-constant-time
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
 This application can be used to sign JSON files, by adding some fields that
 can be used to determine their time of signing and the sequence number. The
 signature is "detached" so no complicated file syntax is needed to store the
 signature in the file itself.
