Source: vpn-daemon
Maintainer: François Kooman <fkooman@tuxed.net>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 9), 
 golang-any (>= 1.11)

Package: vpn-daemon
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: vpn-daemon
 Simple Daemon intended for managing OpenVPN processes.
