#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	export LDFLAGS="-X main.tlsCertDir=/etc/ssl/vpn-daemon -X main.tlsKeyDir=/etc/ssl/vpn-daemon/private"

	$(MAKE) install DESTDIR=$$(pwd)/debian/vpn-daemon PREFIX=/usr
