[Unit]
Description=Daemon to manage OpenVPN processes

[Service]
Environment=LISTEN=127.0.0.1:41194
EnvironmentFile=-/etc/default/vpn-daemon
ExecStart=/usr/sbin/vpn-daemon ${ENABLE_TLS} -listen ${LISTEN}
Restart=on-failure
PrivateDevices=yes
User=vpn-daemon
Group=vpn-daemon

[Install]
WantedBy=multi-user.target
