Source: vpn-admin-portal
Section: web
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends: 
 debhelper (>= 9), 
 dh-exec, 
 phpunit, 
 phpab,
 pkg-php-tools,
 php-date,
 php-gd,
 php-pdo,
 php-sqlite3,
 php-fkooman-secookie, 
 php-twig,
 php-eduvpn-common, 
 fonts-roboto-fontface
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn/vpn-admin-portal

Package: vpn-admin-portal
Architecture: all
Depends: 
 ${misc:Depends}, 
 ${phpcomposer:Debian-require}, 
 php-date,
 php-gd,
 php-pdo,
 php-sqlite3,
 php-fkooman-secookie,
 php-twig,
 php-eduvpn-common,
 fonts-roboto-fontface
Suggests: ${phpcomposer:Debian-suggest}
Description: VPN Admin Portal
