Source: php-oauth2-client
Section: php
Priority: optional
Maintainer: Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>
Build-Depends: debhelper (>= 9), phpunit, php-paragonie-constant-time-encoding,
 php-symfony-polyfill-php56, php-paragonie-random-compat, pkg-php-tools, phpab,
 php-sqlite3, php-paragonie-constant-time-encoding
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn-debian/php-oauth2-client
Vcs-Git: git://github.com/eduvpn-debian/php-oauth2-client.git
Vcs-Browser: https://github.com/eduvpn-debian/php-oauth2-client/

Package: php-fkooman-oauth2-client
Architecture: all
# TODO: generates illegal php-paragonie-random_compat
#Depends: ${misc:Depends}, ${phpcomposer:Debian-require}
Depends: ${misc:Depends}, php-common, php-curl, php-json, php-paragonie-random-compat,
 php-common
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
 A very simple to use OAuth 2.0 client. It has minimal dependencies. If you are
 not bound to PHP 5.4, you are probably better of using the OAuth 2.0 client
 of the League of Extraordinary Packages.
