Source: vpn-server-node
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Build-Depends: 
 debhelper (>= 9), 
 dh-exec, 
 phpunit, 
 pkg-php-tools (>= 1.7~), 
 phpab,
 php-psr-log, 
 php-eduvpn-common, 
 php-symfony-translation,
 php-symfony-phpunit-bridge
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn/vpn-server-node

Package: vpn-server-node
Architecture: all
Depends:
 ${misc:Depends},
 ${phpcomposer:Debian-require},
 openvpn,
 php-cli,
 php-symfony-phpunit-bridge
Suggests: ${phpcomposer:Debian-suggest}
Description: VPN Server Node
