#!/usr/bin/make -f

define REQUIRES
require_once '/usr/share/php/SURFnet/VPN/Common/autoload.php';
require_once '/usr/share/php/Psr/Log/autoload.php';
endef

# easier to use this as a shell variable
export REQUIRES

override_dh_auto_build:
	phpab -o src/autoload.php src
	echo "$${REQUIRES}" >> src/autoload.php

override_dh_auto_test:
	phpab -o tests/autoload.php tests
	echo "require_once 'src/autoload.php';" >> tests/autoload.php
	phpunit --bootstrap=tests/autoload.php

override_dh_fixperms:
	dh_fixperms
	chmod 0755 debian/vpn-server-node/usr/lib/vpn-server-node/*

# Be sure not to compress
override_dh_compress:

%:
	dh $@ --with phpcomposer
