Source: vpn-user-portal
Section: web
Priority: optional
Maintainer: Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 phpab,
 phpunit,
 pkg-php-tools,
 php-common,
 php-fkooman-oauth2-client,
 php-eduvpn-common,
 php-fkooman-oauth2-server,
 php-symfony-phpunit-bridge,
 php-twig-extensions,
 php-symfony-translation,
 php-bacon-qr-code,
 php-paragonie-constant-time-encoding,
 php-paragonie-random-compat,
 php-eduvpn-common,
 php-json,
 php-libsodium,
 php-mbstring,
 php-fkooman-secookie
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn/vpn-for-web
Vcs-Git: git://github.com/eduvpn-debian/vpn-for-web.git
Vcs-Browser: https://github.com/eduvpn-debian/vpn-for-web/

Package: vpn-user-portal
Architecture: all
# TODO: generates wrong dependencies
#Depends: ${misc:Depends}, ${phpcomposer:Debian-require}
Depends: ${misc:Depends},
 php-common,
 php-bacon-qr-code,
 php-eduvpn-common,
 php-json,
 php-libsodium,
 php-mbstring,
 php-fkooman-oauth2-client,
 php-fkooman-oauth2-server,
 php-fkooman-secookie,
 php-paragonie-constant-time-encoding,
 php-paragonie-random-compat,
 php-symfony-phpunit-bridge,
 php-twig-extensions,
 php-cli
Suggests: ${phpcomposer:Debian-suggest}
Description: eduVPN user portal
 The eduVPN user portal project

