Source: vpn-user-portal
Section: web
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 phpab,
 phpunit,
 pkg-php-tools (>= 1.7~),
 php-bacon-qr-code,
 php-sqlite3,
 php-json,
 php-fkooman-jwt,
 php-fkooman-oauth2-server,
 php-fkooman-saml-sp,
 php-fkooman-secookie,
 php-fkooman-sqlite-migrate,
 php-lc-common,
 php-constant-time (>= 2.2.0~)
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn/vpn-user-portal

Package: vpn-user-portal
Architecture: all
Depends: ${misc:Depends},
 php-cli,
 php-bacon-qr-code,
 php-sqlite3,
 php-json,
 php-fkooman-jwt,
 php-fkooman-oauth2-server,
 php-fkooman-saml-sp,
 php-fkooman-secookie,
 php-fkooman-sqlite-migrate,
 php-lc-common,
 php-constant-time (>= 2.2.0~),
 openssl
Suggests: ${phpcomposer:Debian-suggest}
Description: VPN User Portal for Let's Connect!
 User portal and OAuth authorization server of the Let's Connect! software, allowing
 users to download and manage VPN configurations and certificates.
