#!/usr/bin/make -f

define REQUIRES
require_once '/usr/share/php/fkooman/OAuth/Client/autoload.php';
require_once '/usr/share/php/SURFnet/VPN/Common/autoload.php';
require_once '/usr/share/php/fkooman/OAuth/Server/autoload.php';
require_once '/usr/share/php/BaconQrCode/autoload.php';
endef

# easier to use this as a shell variable
export REQUIRES

override_dh_auto_build:
	mkdir -p tmp/src/SURFnet/VPN/Portal
	mkdir tmp/vendor
	cp -r src/* tmp/src/SURFnet/VPN/Portal/.
	phpab -o tmp/vendor/autoload.php tmp/src
	echo "$${REQUIRES}" >> tmp/vendor/autoload.php

override_dh_auto_test:
	phpab -o tests/autoload.php src tests
	echo "$${REQUIRES}" >> tests/autoload.php
	phpunit --bootstrap=tests/autoload.php

%:
	dh $@ --with phpcomposer

