Source: php-saml-ds
Section: web
Priority: extra
Maintainer: François Kooman <fkooman@tuxed.net>
Build-Depends:
 debhelper (>= 9),
 phpab,
 phpunit,
 pkg-php-tools,
 dh-exec,
 php-fkooman-secookie,
 php-twig
Standards-Version: 3.9.8
Homepage: https://github.com/fkooman/php-saml-ds

Package: php-saml-ds
Architecture: all
Depends: 
 ${misc:Depends}, 
 ${phpcomposer:Debian-require}
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
