Source: otp
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Build-Depends:
 debhelper (>= 9),
 phpab,
 phpunit,
 pkg-php-tools,
 php-constant-time,
 php-random-compat
Standards-Version: 3.9.8
Homepage: https://github.com/ChristianRiesen/otp

Package: php-christian-riesen-otp
Architecture: all
Depends: 
 ${misc:Depends},
 php-common,
 php-constant-time,
 php-random-compat
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
