Source: php-oauth2-client
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Build-Depends:
 debhelper (>= 9),
 phpunit,
 pkg-php-tools,
 phpab,
 php-psr-log,
 php-constant-time,
 php-sqlite3
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-oauth2-client

Package: php-fkooman-oauth2-client
Architecture: all
Depends:
 ${misc:Depends},
 php-common,
 php-psr-log,
 php-curl,
 php-json,
 php-common
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
