Source: php-jwt
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: François Kooman <fkooman@tuxed.net>
Build-Depends:
 debhelper (>= 9),
 phpunit,
 phpab,
 pkg-php-tools (>= 1.7~),
 php-date,
 php-json,
 php-constant-time
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-jwt

Package: php-fkooman-jwt
Architecture: all
Depends: 
 ${misc:Depends}, 
 php-date,
 php-json,
 php-constant-time
Suggests: ${phpcomposer:Debian-suggest}
Description: JWT Library.
