Source: php-secookie
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends: 
 debhelper (>= 9), 
 phpunit, 
 phpab, 
 pkg-php-tools
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-secookie

Package: php-fkooman-secookie
Architecture: all
Depends: ${misc:Depends}, ${phpcomposer:Debian-require}
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
