Source: php-secookie
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends:
 debhelper (>= 9),
 phpunit,
 phpab,
 pkg-php-tools (>= 1.7~),
 php-constant-time
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-secookie

Package: php-fkooman-secookie
Architecture: all
Depends: ${misc:Depends},
 php-constant-time
Suggests: ${phpcomposer:Debian-suggest}
Description: Secure cookie and session library
 This is a simple to use and secure cookie and session library written in PHP. 
 It does not use any of PHP's built-in cookie/session functions.
