Source: twig-extensions
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends: 
 debhelper (>= 9), 
 phpunit, 
 phpab, 
 pkg-php-tools (>= 1.7~),
 php-symfony-translation, 
 php-symfony-phpunit-bridge,
 php-symfony-polyfill-mbstring, 
 php-twig
Standards-Version: 3.9.8
Homepage: https://github.com/twigphp/Twig-extensions

Package: php-twig-extensions
Architecture: all
Depends: 
 ${misc:Depends}, 
 ${phpcomposer:Debian-require}
Suggests: ${phpcomposer:Debian-suggest}
Description: Twig extensions
