#!/usr/bin/make -f

define REQUIRES
require_once '/usr/share/php/Twig/autoload.php';
endef

# easier to use this as a shell variable
export REQUIRES

override_dh_auto_build:
	phpab -o lib/Twig/Extensions/autoload.php lib
	echo "$${REQUIRES}" >> lib/Twig/Extensions/autoload.php

override_dh_auto_test:
	phpab -o test/autoload.php test
	echo "require_once 'lib/Twig/Extensions/autoload.php';" >> test/autoload.php
	echo "require_once '/usr/share/php/Symfony/Component/Translation/autoload.php';" >> test/autoload.php

	phpunit --bootstrap=test/autoload.php

%:
	dh $@ --with phpcomposer
