Source: vpn-ca
Section: web
Priority: optional
Maintainer: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends: debhelper-compat (= 12), dh-golang
Build-Depends-Arch: golang-any
Standards-Version: 4.4.0
Homepage: https://software.tuxed.net/vpn-ca/
Vcs-Browser: https://github.com/eduvpn/eduvpn-debian/vpn-ca
Vcs-Git: https://github.com/eduvpn/eduvpn-debian/vpn-ca.git

Package: vpn-ca
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Simple CA intended for use with Let's Connect! and eduVPN
 A simple Certification Authority for TLS/SSL server certificates,
 offering a tiny CLI API for use with Let's Connect! software from
 https://letsconnect-vpn.org/ and in the eduVPN project
 at https://www.eduvpn.nl/.
