Source: vpn-ca
Maintainer: François Kooman <fkooman@tuxed.net>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 9), 
 golang-any (>= 1.11)

Package: vpn-ca
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: vpn-ca
 Simple CA intended for use with OpenVPN.
