Source: vpn-portal-artwork
Section: web
Priority: optional
Maintainer: Mart van Santen <mart@greenhost.nl>
Build-Depends: 
 dh-exec
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn/vpn-portal-artwork

Package: vpn-portal-artwork
Architecture: all
Description: EduVPN artwork for Let's Connect


