Source: vpn-server-api
Section: web
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 phpab,
 pkg-php-tools,
 phpunit,
 php-fkooman-otp-verifier,
 php-fkooman-sqlite-migrate,
 php-fkooman-oauth2-client,
 php-fkooman-yubitwee,
 php-lc-openvpn-connection-manager,
 php-eduvpn-common (>= 1.0.5),
 php-symfony-translation,
 php-symfony-phpunit-bridge,
 php-fkooman-oauth2-server
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn/vpn-server-api

Package: vpn-server-api
Architecture: all
Depends: 
 ${misc:Depends},
 php-cli,
 php-common,
 php-fkooman-otp-verifier,
 php-fkooman-sqlite-migrate,
 php-eduvpn-common,
 php-lc-openvpn-connection-manager,
 php-curl,
 php-json,
 php-mbstring,
 php-fkooman-oauth2-client,
 php-fkooman-secookie,
 php-fkooman-yubitwee,
 php-constant-time,
 openvpn
Suggests: ${phpcomposer:Debian-suggest}
Description: VPN Server API
