Source: vpn-server-api
Section: web
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 phpab,
 pkg-php-tools (>= 1.7~),
 phpunit,
 php-sqlite3,
 php-json,
 php-fkooman-otp-verifier (>= 0.3~),
 php-fkooman-sqlite-migrate,
 php-lc-openvpn-connection-manager,
 php-lc-common,
 php-psr-log,
 php-constant-time
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn/vpn-server-api

Package: vpn-server-api
Architecture: all
Depends: 
 ${misc:Depends},
 php-cli,
 php-sqlite3,
 php-json,
 php-fkooman-otp-verifier (>= 0.3~),
 php-fkooman-sqlite-migrate,
 php-lc-openvpn-connection-manager,
 php-lc-common,
 php-psr-log,
 php-constant-time,
 openvpn
Suggests: ${phpcomposer:Debian-suggest}
Description: VPN Server API for Let's Connect!
 This package provides the server API of the Let's Connect! software. It is
 used by both vpn-admin-portal and vpn-user-portal. It contains the Easy-RSA
 X.509 PKI which supplies a CA and a database containing information about the
 users and links issued certificates to users.  It furthermore ships some
 housekeeping cronjobs as well as a configuration snippet for easy
 integration with the Apache webserver.
