Source: php-oauth2-server
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Build-Depends:
 debhelper (>= 9),
 pkg-php-tools,
 phpunit,
 phpab,
 php-common,
 php-json,
 php-libsodium | php-sodium,
 php-constant-time,
 php-sqlite3,
 php-random-compat,
 php-symfony-polyfill-php56
Standards-Version: 3.9.8
Homepage: https://github.com/fkooman/php-oauth2-server

Package: php-fkooman-oauth2-server
Architecture: all
Depends:
 ${misc:Depends},
 php-common,
 php-json,
 php-libsodium | php-sodium,
 php-constant-time,
 php-sqlite3,
 php-random-compat,
 php-symfony-polyfill-php56
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
