Source: php-oauth2-server
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends:
 debhelper (>= 9),
 pkg-php-tools (>= 1.7~),
 phpunit,
 phpab,
 php-common,
 php-json,
 php-constant-time,
 php-sqlite3
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-oauth2-server

Package: php-fkooman-oauth2-server
Architecture: all
Depends:
 ${misc:Depends},
 php-common,
 php-json,
 php-constant-time,
 php-sqlite3
Suggests: ${phpcomposer:Debian-suggest}
Description: Opinionated OAuth 2.0 server
 The project provides an opinionated OAuth 2.0 server library for 
 integration in your own application.
