Source: vpn-maint-scripts
Maintainer: François Kooman <fkooman@tuxed.net>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: vpn-maint-scripts
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Maintain VPN server
 This is a collection of scripts for maintaining your VPN server(s). 
 These SHOULD be used for handling day to day operation, like applying 
 changes and installing updates. Feel free to take the content of 
 these scripts and use them in something like Ansible.
