Source: vpn-lib-common
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends:
 debhelper (>= 9),
 phpunit,
 phpab,
 pkg-php-tools (>= 1.7~),
 php-psr-log,
 php-fkooman-secookie,
 php-twig,
 php-ldap,
 php-twig-extensions,
 php-mbstring,
 php-libsodium,
 php-common,
 php-curl,
 php-radius,
 php-sqlite3,
 php-json,
 php-fkooman-secookie,
 php-constant-time
Standards-Version: 3.9.8
Homepage: https://github.com/eduvpn/vpn-lib-common

Package: php-eduvpn-common
Architecture: all
Depends:
 ${misc:Depends},
 php-common,
 php-curl,
 php-radius,
 php-json,
 php-mbstring,
 php-libsodium,
 php-ldap,
 php-fkooman-secookie,
 php-constant-time,
 php-common,
 php-psr-log,
 php-twig,
 php-twig-extensions,
Suggests: ${phpcomposer:Debian-suggest}
Description: library for Let's Connect! VPN server components
 PHP library offering common functionality shared by the different
 Let's Connect VPN server components.
