Source: php-otp-verifier
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends:
 debhelper (>= 9),
 phpunit,
 pkg-php-tools (>= 1.7~),
 phpab,
 php-sqlite3,
 php-constant-time
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-otp-verifier

Package: php-fkooman-otp-verifier
Architecture: all
Depends:
 ${misc:Depends},
 php-common,
 php-sqlite3,
 php-constant-time
Suggests: ${phpcomposer:Debian-suggest}
Description: OTP Verification Library
 Minimal PHP library to verify OTP codes and protect against replay and brute
 force attacks.
