Source: php-yubitwee
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Build-Depends: 
 debhelper (>= 9),
 phpunit,
 phpab,
 pkg-php-tools,
 php-constant-time,
 php-random-compat,
 php-symfony-polyfill-php56
Standards-Version: 3.9.8
Homepage: https://github.com/fkooman/php-yubitwee

Package: php-fkooman-yubitwee
Architecture: all
Depends: 
 ${misc:Depends},
 php-common,
 php-curl,
 php-constant-time,
 php-random-compat,
 php-symfony-polyfill-php56
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
