Source: php-yubitwee
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends: 
 debhelper (>= 9),
 phpunit,
 phpab,
 pkg-php-tools (>= 1.7~),
 php-constant-time
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-yubitwee

Package: php-fkooman-yubitwee
Architecture: all
Depends: 
 ${misc:Depends},
 php-common,
 php-curl,
 php-constant-time
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
 A very simple, secure YubiKey OTP Validator with pluggable HTTP client.
 The correct thing to be doing is using U2F, so do not use this library if
 you are writing new software, please investigate U2F as that will be more
 secure than using the proprietary YubiCo solution for verifying hardware
 tokens!
