Source: php-sqlite-migrate
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends:
 debhelper (>= 9),
 phpunit,
 pkg-php-tools (>= 1.7~),
 php-sqlite3,
 phpab
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-sqlite-migrate

Package: php-fkooman-sqlite-migrate
Architecture: all
Depends:
 ${misc:Depends},
 php-common,
 php-sqlite3
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}
