Source: php-sqlite-migrate
Section: php
Priority: optional
Maintainer: François Kooman <fkooman@tuxed.net>
Uploaders: Joost van Baal-Ilić <joostvb-eduvpn@ad1810.com>
Build-Depends:
 debhelper (>= 9),
 phpunit,
 pkg-php-tools (>= 1.7~),
 php-sqlite3,
 phpab
Standards-Version: 3.9.8
Homepage: https://git.tuxed.net/fkooman/php-sqlite-migrate

Package: php-fkooman-sqlite-migrate
Architecture: all
Depends:
 ${misc:Depends},
 php-common,
 php-sqlite3
Suggests: ${phpcomposer:Debian-suggest}
Description: library for SQLite database migrations
 This package provides a PHP library for performing SQLite database migrations,
 including updating the database schema.
 - Uses `PDO` database abstraction layer;
 - Optimized for running during every (HTTP) request;
 - Uses database transactions to run migrations;
 - Implement rudimentary "locking" to prevent the migration to run multiple
   times when application is under load;
 - No dependencies, only core PHP functionality;
 - Less than 200 NCLOC;
 - Supports PHP >= 5.4.
